html
  head
    title= 'Exercise Tracker'
    base(href="/")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Sunflower:300,700")
  body
    #container
      | Create a New User
      br
      code POST /api/exercise/new-user
      form(action="/api/exercise/new-user", method="post")
        input(type="text", name="username", placeholder="username")
        button(type="submit", class="button") Submit
      | Add Exercise
      br
      code POST /api/exercise/add
      form(id="add-exercise", action="/api/exercise/add", method="post")
        input(type="text", name="userID", placeholder="userID*", class='required')
        input(type="text", name="description", placeholder="description*", class='required')
        input(type="text", name="duration", placeholder="duration* (mins.)", class='required')
        input(type="text", name="date", placeholder="date (yyyy-mm-dd)")
      p(class="errorMessage hidden") Fields marked as * are required
      button(class="button") Submit
    script(src="script.js")
    